<div class="pt-5">
  <div>
    <h1 class="text-center">出退勤記録画面</h1>
    <h2 class="text-center"><span id="dateText"></span></h2>
    <h3 class="text-center">ようこそ "<strong><%= current_user.name %></strong>" さん</h3>
  </div>

  <div class="text-center m-3">
   <h4>
      <%= @workstatus %>
   </h4>
  </div>
 

    <div class="container w-50">
    <div class="row text-center">
    <div class="col">
    <%= button_to "出社", attendances_path, method: :post, class: "btn btn-outline-secondary m-1",disabled: @user.decorate.start_job_button_disabled %>
    </div>

    <div class="col">
    <%= button_to "休憩", attendance_path(id: 1), method: :patch, params: { type: "rest_start" }, class: "btn btn-outline-secondary m-1", disabled: @user.decorate.start_rest_button_disabled %>
    </div>

      <div class="col">
      <%= button_to "戻り", attendance_path(id: 1), method: :patch, params: { type: "rest_end" }, class: "btn btn-outline-secondary m-1",disabled: @user.decorate.end_rest_button_disabled %>
      </div>

      <div class="col">
      <%= button_to "退社", attendance_path(id: 1), method: :patch, params: { type: "end" }, class: "btn btn-outline-info m-1", disabled: @user.decorate.end_job_button_disabled %>
      </div>

      <div class="col-2">
    <%= button_to "ログアウト", logout_path, method: :delete ,class: "btn btn-primary mt-1"%>
      </div>
      </div>
    </div>

  


  

  <div class="mt-3 text-center"> 勤務表確認 </div>

<div class="w-50 mx-auto text-center">
<%= form_tag(calendar_path, method: :get) do%>
  <input type="month" name="month" class="text-center m-2" value="2022-08" required></input>
  <input type="submit" value="確認"> 
<% end %>
</div>


</div>

<script>
window.onload = function() {
  document.getElementById("dateText").innerHTML = showTime();
}
  
  function showTime() {
    const now = new Date();
    let nowMonth = now.getMonth();
    const nowDate = now.getDate();
    const nowhour = now.getHours();
    const nowminutes = now.getMinutes();
    const nowseconds = now.getSeconds();
    nowMonth += 1;

    const text = nowMonth + "月" + nowDate + "日" + nowhour + "時" + nowminutes + "分";
    return text;
  }

  let date = document.querySelector(`input[type='month'][name='month']`);
date.addEventListener(`change`, () => {
    console.log(date.value);
    document.getElementById("monthText").innerHTML = date.value;
  });
</script>